<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FilmSwipe{% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/"
        >FilmSwipe{% if admin_nav %} — Admin{% endif %}</a
      >
      <div class="navbar-actions">
        {% if user %} {% if not admin_nav %}
        <a href="/profile" class="btn btn-sm">Профиль</a>
        {% endif %}
        <a href="/auth/logout" class="btn btn-sm">Выйти</a>
        {% else %}
        <a href="/auth/login" class="btn btn-sm">Войти</a>
        <a href="/auth/register" class="btn btn-sm btn-dark">Регистрация</a>
        {% endif %}
      </div>
    </nav>

    {% block content %}{% endblock %} {% block extra_js %}{% endblock %}
  </body>
</html>
